* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #b0c4de;
    margin-left: 10%;
    margin-right: 10%;
}

header, footer, nav, section, article {
    clear: both;
}

h1 { 
	color: #111;
	font-family: 'Atma', cursive;
	font-size: 275px; 
	font-weight: bold;
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}

article > header > h1 {
    padding: 0.5em;
    font-size: 120px;
}

h2 { 
	color: #111;
	font-family: 'Atma', cursive;
	font-size: 30px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0 0 72px; 
	text-align: center; 
}

#logo {
    width: 10%;
    height: auto;
    border-radius: 25px;
}

header {
    margin-top: 5%;
}

nav#menu {
    margin-left: 25%;
}

footer {
    padding: 5%;
}

